<tr hx-trigger='cancel' class='editing' hx-get="/project/{{project.project_id}}/row">
    <td class="border border-slate-600"><input name='title' value='{{ project.title }}'></td>
    <td class="dropdown">
        <form action="" name="FILTER">
            <select name="status" >
                <option value="NotStarted">Not Started</option>
                <option value="InProgress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </form>
    </td>
    <td class="border border-slate-600">
        <button class="btn btn-danger bg-red-600 hover:bg-red-700 px-5 py-3 text-white rounded-lg" hx-get="/project/{{ project.project_id }}/row">
            Cancel
        </button>
        <button class="btn btn-danger bg-green-600 hover:bg-green-700 px-5 py-3 text-white rounded-lg" hx-put="/project/{{ project.project_id }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>