<tr hx-trigger='cancel' class='editing-project' hx-get="/project/{{ project.project_id }}/row">
    <td class="table-cell">
        <div class="flex flex-row items-center">
            <button
                class="m-1 btn btn-danger flex-none border-solid border-2 border-lime-600 text-lime-600 fill-lime-600 hover:border-lime-800 hover:text-lime-800 hover:bg-lime-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline"
                hx-put="/project/{{ project.project_id }}" hx-include="closest tr">
                Save
            </button>
            <button
                class="m-1 btn btn-danger flex-none border-solid border-2 border-red-600 text-red-600 hover:border-red-800 hover:text-red-800 hover:bg-red-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline"
                hx-get="/project/{{ project.project_id }}/row">
                Cancel
            </button>
            <input name='title' value='{{ project.title }}'
                class="m-1 flex-grow bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500"
                placeholder="Project Title" required>
        </div>
    </td>
    <td class="dropdown">
        <form action="" name="FILTER">
            <input type="radio" id="notstarted" name="status" value="NotStarted" {% if
                project.project_status==Status::NotStarted %} checked="" {% endif %}>
            <label for="notstarted">Not Started</label><br>
            <input type="radio" id="inprogress" name="status" value="InProgress" {% if
                project.project_status==Status::InProgress %} checked="" {% endif %}>
            <label for="inprogress">In Progress</label><br>
            <input type="radio" id="completed" name="status" value="Completed" {% if
                project.project_status==Status::Completed %} checked="" {% endif %}>
            <label for="completed">Completed</label>
        </form>
    </td>
</tr>