<tr hx-trigger='cancel' class='editing' hx-get="/keyresult/{{keyresult.keyresult_id}}/row">
    <td><input name='title' value='{{ keyresult.title }}'></td>
    <td>
        <button class="btn btn-danger bg-red-600 hover:bg-red-700 px-5 py-3 text-white rounded-lg" hx-get="/keyresult/{{ keyresult.keyresult_id }}/row">
            Cancel
        </button>
        <button class="btn btn-danger bg-lime-600 hover:bg-lime-700 px-5 py-3 text-white rounded-lg" hx-put="/keyresult/{{ keyresult.keyresult_id }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>