<tr hx-trigger='cancel' class='editing' hx-get="/theme/{{ theme.theme_id }}/row">
    <td><input name='title' value='{{ theme.title }}'></td>
    <td class="dropdown">
        <form action="" name="FILTER">
            <select name="status">
                <option value="NotStarted" class="bg-slate-300">Not Started</option>
                <option value="InProgress" class="bg-amber-300">In Progress</option>
                <option value="Completed" class="bg-lime-300">Completed</option>
            </select>
        </form>
    </td>
    <td>
        <button class="btn btn-danger bg-red-600 hover:bg-red-700 px-5 py-3 text-white rounded-lg"
            hx-get="/theme/{{ theme.theme_id }}/row">
            Cancel
        </button>
        <button class="btn btn-danger bg-lime-600 hover:bg-lime-700 px-5 py-3 text-white rounded-lg"
            hx-put="/theme/{{ theme.theme_id }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>