<tr hx-trigger='cancel' class='editing' hx-get="/project/{{project.project_id}}/row">
    <td><input name='title' value='{{ project.title }}'></td>
    <td class="dropdown">
        <form action="" name="FILTER">
            <select name="status" >
                <option value="NotStarted">Not Started</option>
                <option value="InProgress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>
        </form>
    </td>
    <td>
        <button class="btn btn-danger" hx-get="/project/{{ project.project_id }}/row">
            Cancel
        </button>
        <button class="btn btn-danger" hx-put="/project/{{ project.project_id }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>