<tr hx-trigger='cancel' class='editing' hx-get="/measure/{{measurement.measurement_id}}/row">
    <td class="border border-slate-600"><input name='title' value='{{ measurement.title }}'></td>
    <td class="border border-slate-600">
        <button class="btn btn-danger bg-red-600 hover:bg-red-700 px-5 py-3 text-white rounded-lg" hx-get="/measure/{{ measurement.measurement_id }}/row">
            Cancel
        </button>
        <button class="btn btn-danger bg-green-600 hover:bg-green-700 px-5 py-3 text-white rounded-lg" hx-put="/measure/{{ measurement.measurement_id }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>