@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1, .h1 {
    @apply font-sans text-2xl py-3 font-bold md:text-4xl;
}

h2, .h2 {
    @apply font-sans text-xl font-bold pb-2 md:text-2xl;
}

h3, .h3 {
    @apply font-sans text-lg font-bold md:text-lg;
}

h4, .h4 {
    @apply font-sans text-base font-bold md:text-lg;
}

body, .p {
    @apply font-sans text-sm md:text-base;
}

section {
    @apply mt-12
}

.layout {
    max-width: 69rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}