<tr>
  <td class="border border-slate-600">
    <div hx-boost="false">
      <a href="/initiative/{{ initiative.initiative_id }}">{{ initiative.title }}</a>
    </div>
  </td>
  <td class="border border-slate-600">
    {% match initiative.initiative_status %}
    {% when Status::NotStarted %}
    <span class="not_started">Not Started</span>
    {% when Status::InProgress %}
    <span class="in_progress">In Progress</span>
    {% when Status::Completed %}
    <span class="completed">Completed</span>
    {% endmatch %}
  </td>
  <td class="border border-slate-600">
    <button class="btn btn-danger" hx-get="/initiative/{{ initiative.initiative_id }}/form" hx-trigger="edit" _="on click
      if .editing is not empty
        Swal.fire({title: 'Already Editing',
                  showCancelButton: true,
                  confirmButtonText: 'Yep, Edit This Initiative!',
                  text:'Hey!  You are already editing a initiative!  Do you want to cancel that edit and continue?'})
        if the result's isConfirmed is false
          halt
        end
        send cancel to .editing
      end
      trigger edit">
      Edit
    </button>
    <button class="btn btn-danger" hx-delete="/initiative/{{ initiative.initiative_id }}" hx-trigger="delete" _="on click
    Swal.fire({
      title: 'Are you sure?',
      text: 'You won\'t be able to revert this!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33000',
      confirmButtonText: 'Delete \'{{ initiative.title }}\''})
    if the result's isConfirmed is false
      halt
    end
    trigger delete">
    Delete
  </button>
  </td>
</tr>