<tr>
    <td><a hx-boost="false" href="/keyresult/{{ keyresult.keyresult_id }}">{{ keyresult.title }}</a></td>
    <td>
      <button class="btn btn-danger" hx-get="/keyresult/{{ keyresult.keyresult_id }}/form" hx-trigger="edit" _="on click
                       if .editing is not empty
                         Swal.fire({title: 'Already Editing',
                                    showCancelButton: true,
                                    confirmButtonText: 'Yep, Edit This Key Result!',
                                    text:'Hey!  You are already editing a key result!  Do you want to cancel that edit and continue?'})
                         if the result's isConfirmed is false
                           halt
                         end
                         send cancel to .editing
                       end
                       trigger edit">
        Edit
      </button>
    </td>
    <td>
      <button class="btn btn-danger" hx-delete="/keyresult/{{ keyresult.keyresult_id }}">
        Delete
      </button>
    </td>
  </tr>