<tr>
  <td>
    <div hx-boost="false">
      <a href="/measurement/{{ measurement.measurement_id }}">{{ measurement.measurement }}</a>
    </div>
  </td>
  <td>
    <button class="btn btn-danger" hx-get="/measurement/{{ measurement.measurement_id }}/form" hx-trigger="edit" _="on click
      if .editing is not empty
        Swal.fire({title: 'Already Editing',
                  showCancelButton: true,
                  confirmButtonText: 'Yep, Edit This Measurement!',
                  text:'Hey!  You are already editing a measurement!  Do you want to cancel that edit and continue?'})
        if the result's isConfirmed is false
          halt
        end
        send cancel to .editing
      end
      trigger edit">
      Edit
    </button>
    <button class="btn btn-danger" hx-delete="/measurement/{{ measurement.measurement_id }}" hx-trigger="delete" _="on click
      Swal.fire({
        title: 'Are you sure?',
        text: 'You won\'t be able to revert this!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33000',
        confirmButtonText: 'Delete \'{{ measurement.measurement }}\''})
      if the result's isConfirmed is false
        halt
      end
      trigger delete">
      Delete
    </button>
  </td>
</tr>