<tr>
  <td><a hx-boost="false" href="/task/{{ task.task_id }}">{{ task.title }}</td>
  <td>
    <button class="btn btn-danger" hx-get="/task/{{ task.task_id }}/edit" hx-trigger="edit" _="on click
                   if .editing is not empty
                     Swal.fire({title: 'Already Editing',
                                showCancelButton: true,
                                confirmButtonText: 'Yep, Edit This Task!',
                                text:'Hey!  You are already editing a task!  Do you want to cancel that edit and continue?'})
                     if the result's isConfirmed is false
                       halt
                     end
                     send cancel to .editing
                   end
                   trigger edit">
      Edit
    </button>
  </td>
  <td>
    <button class="btn btn-danger" hx-delete="/task/{{ task.task_id }}">
      Delete
    </button>
  </td>
</tr>