<tr>
  <td>
    <div hx-boost="false">
      <a href="/task/{{ task.task_id }}">{{ task.title }}
    </div>
  </td>
  <td>
    {% match task.task_status %}
    {% when Status::NotStarted %}
    <span class="not_started">Not Started</span>
    {% when Status::InProgress %}
    <span class="in_progress">In Progress</span>
    {% when Status::Completed %}
    <span class="completed">Completed</span>
    {% endmatch %}
  </td>
  <td>
    <button class="btn btn-danger" hx-get="/task/{{ task.task_id }}/edit" hx-trigger="edit" _="on click
                   if .editing is not empty
                     Swal.fire({title: 'Already Editing',
                                showCancelButton: true,
                                confirmButtonText: 'Yep, Edit This Task!',
                                text:'Hey!  You are already editing a task!  Do you want to cancel that edit and continue?'})
                     if the result's isConfirmed is false
                       halt
                     end
                     send cancel to .editing
                   end
                   trigger edit">
      Edit
    </button>
  </td>
  <td>
    <button class="btn btn-danger" hx-delete="/task/{{ task.task_id }}">
      Delete
    </button>
  </td>
</tr>