<!DOCTYPE html>
<html>

<body>

    <h1>Key Result: {{ title }}</h1>
    <h2>Objective: <a href="http://localhost:3000/objective/{{ objective_id }}"> {{ objective_title }}</a> </h2>

    <h2>Measurements</h2>
    {% if measurements.is_some() -%}
    {% let measurements = measurements.clone().unwrap() %}
    <ul>
        {% for measurement in measurements %}
        <li>{{ measurement.measurement }}</li>
        {% endfor %}
    </ul>
    {%- else -%}
    <p>No measurements currently.</p>
    {%- endif %}


</body>

</html>