<div id="initiatives_response">
    {% match initiatives -%}
    {% when Some with (initiatives) %}
    {% let initiatives_len = initiatives.len() %}
    {% if initiatives_len > 0 %}
    <ul>
        {% for initiative in initiatives %}
        <li><a href="http://localhost:3000/initiative/{{ initiative.initiative_id }}">{{ initiative.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else -%}
    <p>No initiatives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the initiative rows from database.</p>
    {% endmatch %}
</div>