<div id="initiatives_response">
    {% match initiatives -%}
    {% when Some with (inis) %}
    {% let inis_len = inis.len() %}
    {% if inis_len > 0 %}
    <ul>
        {% for initiative in inis %}
        <li><a href="http://localhost:3000/initiative/{{ initiative.initiative_id }}">{{ initiative.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else -%}
    <p>No initiatives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the initiative rows from database.</p>
    {% endmatch %}
</div>