<div id="keyresults_response">
    {% match keyresults %}
    {% when Some with (keyresults) %}
    {% let keyresults_len = keyresults.len() %}
    {% if keyresults_len > 0 %}
    <div>
        <ul>
            {% for keyresult in keyresults %}
            <li><a href="http://localhost:3000/keyresult/{{ keyresult.keyresult_id }}">{{ keyresult.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No key results currently.</p>
    {% endif %}
    {% when None %}
    <p>Error when retrieving the key result rows from database.</p>
    {% endmatch %}
</div>