<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/js/htmx.min.js"></script>
    <script type="text/javascript" src="/static/js/json-enc.js"></script>
</head>

<body hx-boost="true" hx-ext="json-enc">

    <h1>Objective: {{ title }}</h1>
    <h2>Theme: <a href="http://localhost:3000/theme/{{ theme_id }}"> {{ theme_title }}</a> </h2>

    <h2>Key Results</h2>
    {% include "list_keyresults.html" %}
    <form hx-post="/keyresult" hx-target="#keyresults_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Key Result</button>
    </form>

    <h2>Initiatives</h2>
    {% include "list_initiatives.html" %}
    <form hx-post="/initiative" hx-target="#initiatives_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Initiative</button>
    </form>

    <h2>Projects</h2>
    {% include "list_projects.html" %}
    <form hx-post="/project" hx-target="#projects_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Project</button>
    </form>
    </div>
</body>

</html>