<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/js/htmx.min.js"></script>
    <script type="text/javascript" src="/static/js/json-enc.js"></script>
</head>

<body hx-boost="true" hx-ext="json-enc">

    <h1>Objective: {{ title }}</h1>
    <h2>Theme: <a href="http://localhost:3000/theme/{{ theme_id }}"> {{ theme_title }}</a> </h2>

    <h2>Key Results</h2>
    <div id="keyresults_response">
        {% match keyresults %}
        {% when Some with (keyrs) %}
        {% let keyrs_len = keyrs.len() %}
        {% if keyrs_len > 0 %}
        <div>
            <ul>
                {% for keyresult in keyrs %}
                <li><a href="http://localhost:3000/keyresult/{{ keyresult.keyresult_id }}">{{ keyresult.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No key results currently.</p>
        {% endif %}
        {% when None %}
        <p>Error when retrieving the key result rows from database.</p>
        {% endmatch %}
    </div>
    <form hx-post="/keyresult" hx-target="#keyresults_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Key Result</button>
    </form>

    <h2>Initiatives</h2>
    <div id="initiatives_response">
        {% match initiatives -%}
        {% when Some with (inis) %}
        {% let inis_len = inis.len() %}
        {% if inis_len > 0 %}
        <ul>
            {% for initiative in inis %}
            <li><a href="http://localhost:3000/initiative/{{ initiative.initiative_id }}">{{ initiative.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else -%}
        <p>No initiatives currently.</p>
        {% endif -%}
        {% when None %}
        <p>Error when retrieving the initiative rows from database.</p>
        {% endmatch %}
    </div>
    <form hx-post="/initiative" hx-target="#initiatives_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Initiative</button>
    </form>

    <h2>Projects</h2>
    <div id="projects_response">
        {% match projects -%}
        {% when Some with (projs) %}
        {% let projs_len = projs.len() %}
        {% if projs_len > 0 %}
        <ul>
            {% for project in projs %}
            <li><a href="http://localhost:3000/project/{{ project.project_id }}">{{ project.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else -%}
        <p>No projects currently.</p>
        {% endif -%}
        {% when None %}
        <p>Error when retrieving the project rows from database.</p>
        {% endmatch %}
    </div>
    <form hx-post="/project" hx-target="#projects_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Project</button>
    </form>
    </div>
</body>

</html>