<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/js/htmx.min.js"></script>
    <script type="text/javascript" src="/static/js/json-enc.js"></script>
</head>

<body hx-boost="true" hx-ext="json-enc">

    <h1>Home</h1>
    <h2>Themes</h2>
    {% include "list_themes.html" %}
    <b>Add theme</b>
    <form hx-post="/theme" hx-target="#themes_response">
        <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
        <button type="submit">Create Theme</button>
    </form>
</body>

</html>