<div id="initiatives_response">
    {% match initiatives -%}
    {% when Some with (initiatives) %}
    {% let initiatives_len = initiatives.len() %}
    {% if initiatives_len > 0 %}
    <table>
        <thead>
            <th>Initiative</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for initiative in initiatives %}
            {% include "row/initiative.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No initiatives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the initiative rows from database.</p>
    {% endmatch %}
</div>
<br>
<h3>Add initiative</h3>
<form hx-post="/initiative" hx-target="#initiatives_response" hx-vals='{"objective_id": {{ objective_id }} }'>
    <label for="title">Title:</label><input type="text" id="title" name="title"><br>
    <button type="submit">Create Initiative</button>
</form>