<div id="initiatives_response" class="min-w-full">
    {% match initiatives -%}
    {% when Some with (initiatives) %}
    {% let initiatives_len = initiatives.len() %}
    {% if initiatives_len > 0 %}
    <table class="min-w-full">
        <thead class="table-auto bg-slate-700 text-white border-slate-700 border-2 border-solid h-14">
            <th class="w-12 text-center">Edit</th>
            <th class="w-12 text-center">Trash</th>
            <th class="w-max text-left px-4">Initiative</th>
            <th class="w-1/6 text-left px-4">Status</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for initiative in initiatives %}
            {% include "row/initiative.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No initiatives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the initiative rows from database.</p>
    {% endmatch %}
    <h3 class="mt-6">Add Initiative</h3>
    <form class="" hx-post="/initiative" hx-target="#initiatives_response"
        hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="title" class="block text-sm text-slate-900 duration-300 font-bold">
            Initiative Title
        </label>
        <input type="text" id="title" name="title"
            class="my-2 w-1/2 block bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:border-sky-600"
            placeholder="Initiative Title" />
        <button type="submit"
            class="btn btn-danger block border-solid border-2 border-sky-600 text-sky-600 hover:border-sky-800 hover:text-sky-800 hover:bg-sky-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline">Create
            Initiative</button>
    </form>
</div>