<div id="initiatives_response">
    {% match initiatives -%}
    {% when Some with (initiatives) %}
    {% let initiatives_len = initiatives.len() %}
    {% if initiatives_len > 0 %}
    <table>
        <thead>
            <th>Initiative</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for initiative in initiatives %}
            <tr>
                <td><a href="http://localhost:3000/initiative/{{ initiative.initiative_id }}">{{ initiative.title }}</a>
                </td>
                <td>
                    <button class="btn btn-danger" hx-get="/initiative/{{ initiative.initiative_id }}/edit"
                        hx-trigger="edit" _="on click
                        if .editing is not empty
                          Swal.fire({title: 'Already Editing',
                                     showCancelButton: true,
                                     confirmButtonText: 'Yep, Edit This Initiative!',
                                     text:'Hey!  You are already editing a initiative!  Do you want to cancel that edit and continue?'})
                          if the result's isConfirmed is false
                            halt
                          end
                          send cancel to .editing
                        end
                        trigger edit">
                        Edit</button>
                    <button class="btn btn-danger" hx-delete="/initiative/{{ initiative.initiative_id }}">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No initiatives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the initiative rows from database.</p>
    {% endmatch %}
</div>
<h3>Add initiative</h3>
<form hx-post="/initiative" hx-target="#initiatives_response" hx-vals='{"objective_id": {{ objective_id }} }'>
    <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
    <button type="submit">Create Initiative</button>
</form>