<div id="keyresults_response">
    {% match keyresults %}
    {% when Some with (keyresults) %}
    {% let keyresults_len = keyresults.len() %}
    {% if keyresults_len > 0 %}
    <ul>
        {% for keyresult in keyresults %}
        <li><a href="http://localhost:3000/keyresult/{{ keyresult.keyresult_id }}">{{ keyresult.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No key results currently.</p>
    {% endif %}
    {% when None %}
    <p>Error when retrieving the key result rows from database.</p>
    {% endmatch %}
</div>
<h3>Add key result</h3>
<form hx-post="/keyresult" hx-target="#keyresults_response" hx-vals='{"objective_id": {{ objective_id }} }'>
    <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
    <button type="submit">Create Key Result</button>
</form>