<div id="measurements_response">
    {% match measurements -%}
    {% when Some with (measurements) %}
    {% let measurements_len = measurements.len() %}
    {% if measurements_len > 0 %}
    <table class="table-fixed border-2 border-slate-800">
        <thead>
            <th>Measurement</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for measurement in measurements %}
            {% include "row/measurement.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No measurements currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the measurement rows from database.</p>
    {% endmatch %}
    <br>
    <h3>Add measurement</h3>
    <form hx-post="/measure" hx-target="#measurements_response" hx-vals='{"keyresult_id": {{ keyresult_id }} }'>
        <label for="title">Title:</label><input type="text" id="title" name="title"><br>
        <button type = "submit" class="bg-green-600 hover:bg-green-700 px-5 py-3 text-white rounded-lg">Create Measurement</button>
    </form>
</div>