<div id="measurements_response">
    {% match measurements -%}
    {% when Some with (measurements) %}
    {% let measurements_len = measurements.len() %}
    {% if measurements_len > 0 %}
    <table class="table-fixed border-2 border-slate-800 min-w-full">
        <thead>
            <th class="w-full">Measurement</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for measurement in measurements %}
            {% include "row/measurement.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No measurements currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the measurement rows from database.</p>
    {% endmatch %}
    <h3 class="mt-6">Add Measurement</h3>
    <form hx-post="/measure" hx-target="#measurements_response" hx-vals='{"keyresult_id": {{ keyresult_id }} }'>
        <label for="title" class="block text-sm text-slate-900 duration-300 font-bold">
            Measurement Title
        </label>
        <input type="text" id="title" name="title"
            class="my-2 w-1/2 block bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:border-sky-600"
            placeholder="Measurement Title" />
        <button type="submit"
            class="btn btn-danger border-solid border-2 border-sky-600 text-sky-600 hover:border-sky-800 hover:text-sky-800 hover:bg-sky-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline">Create
            Measurement</button>
    </form>
</div>