<div id="objectives_response">
    {% match objectives -%}
    {% when Some with (objectives) %}
    {% let objectives_len = objectives.len() %}
    {% if objectives_len > 0 %}
    <table class="table-fixed border-2 border-slate-800 min-w-full">
        <thead>
            <th class="w-full">Objective</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for objective in objectives %}
            {% include "row/objective.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No objectives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the objective rows from database.</p>
    {% endmatch %}
    <br>
    <h3>Add objective</h3>
    <form hx-post="/objective" hx-target="#objectives_response" hx-vals='{"theme_id": {{ theme_id }} }'>
        <label for="title">Title:</label><input type="text" id="title" name="title"><br>
        <button type="submit"
            class="btn btn-danger border-solid border-2 border-sky-600 text-sky-600 hover:border-sky-800 hover:text-sky-800 hover:bg-sky-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline">Create
            Objective</button>
    </form>
</div>