<div id="objectives_response">
    {% match objectives -%}
    {% when Some with (objectives) %}
    {% let objectives_len = objectives.len() %}
    {% if objectives_len > 0 %}
    <table>
        <thead>
            <th>Objective</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for objective in objectives %}
            {% include "row/objective.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No objectives currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the objective rows from database.</p>
    {% endmatch %}
</div>
<br>
<h3>Add objective</h3>
<form hx-post="/objective" hx-target="#objectives_response" hx-vals='{"theme_id": {{ theme_id }} }'>
    <label for="title">Title:</label><input type="text" id="title" name="title"><br>
    <button type="submit">Create Objective</button>
</form>