<div id="projects_response">
    {% match projects -%}
    {% when Some with (projects) %}
    {% let projects_len = projects.len() %}
    {% if projects_len > 0 %}
    <table>
        <thead>
            <th>Project</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for project in projects %}
            {% include "row/project.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No projects currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the project rows from database.</p>
    {% endmatch %}
</div>
<br>
<h3>Add project</h3>
<form hx-post="/project" hx-target="#projects_response" hx-vals='{"objective_id": {{ objective_id }} }'>
    <label for="new_title">Title:</label><input type="text" id="new_title" name="new_title"><br>
    <button type="submit">Create Project</button>
</form>