<div id="projects_response">
    {% match projects -%}
    {% when Some with (projects) %}
    {% let projects_len = projects.len() %}
    {% if projects_len > 0 %}
    <table class="min-w-full">
        <thead class="table-auto bg-slate-700 text-white border-slate-700 border-2 border-solid h-14">
            <th class="w-12 text-center">Edit</th>
            <th class="w-12 text-center">Trash</th>
            <th class="w-max text-left px-4">Project</th>
            <th class="w-1/6 text-left px-4">Status</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for project in projects %}
            {% include "row/project.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No projects currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the project rows from database.</p>
    {% endmatch %}
    <h3 class="mt-6">Add Project</h3>
    <form hx-post="/project" hx-target="#projects_response" hx-vals='{"objective_id": {{ objective_id }} }'>
        <label for="title" class="block text-sm text-slate-900 duration-300 font-bold">
            Project Title
        </label>
        <input type="text" id="title" name="title"
            class="my-2 w-1/2 block bg-slate-50 border border-slate-300 text-slate-900 text-sm rounded-lg focus:border-sky-600"
            placeholder="Project Title" />
        <button type="submit"
            class="btn btn-danger border-solid border-2 border-sky-600 text-sky-600 bg-white hover:border-sky-800 hover:text-sky-800 hover:bg-sky-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline">Create
            Project</button>
    </form>
</div>