<div id="themes_response">
    {% match themes -%}
    {% when Some with (themes) %}
    {% let themes_len = themes.len() %}
    {% if themes_len > 0 %}
    <table class="table-fixed border-2 border-slate-800">
        <thead>
            <th>Theme</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
            {% for theme in themes %}
            {% include "row/theme.html" %}
            {% endfor %}
        </tbody>
    </table>
    {% else -%}
    <p>No themes currently.</p>
    {% endif -%}
    {% when None %}
    <p>Error when retrieving the theme rows from database.</p>
    {% endmatch %}
    <br>
    <h3>Add theme</h3>
    <form hx-post="/theme" hx-target="#themes_response">
        <label for="title">Title:</label><input type="text" id="title" name="title"><br>
        <button type = "submit" class="bg-green-600 hover:bg-green-700 px-5 py-3 text-white rounded-lg">Create Theme</button>
    </form>
</div>